* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: white;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  cursor: url("../src/images/aero\ cursor.png"), auto;

}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #0c4ff8;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}
header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  margin-right: auto;
}

.jet-info {
  display: flex;
  align-items: center;
}





.jet-info {
  margin-left: auto;
}

.jet-info h5 {
  margin-left: 20px;
  color: white;
}



footer {
  margin-top: auto; /* Push the footer to the bottom */
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem; /* Vertically center content */

  
}

footer p {
  color: #474747;
}


.Intropara h2{
  font-family: "McLaren", cursive;
  font-size:94px;
  font-weight: 600;
  color:transparent;
  padding-top: 75px;
  padding-bottom: 25px;
  text-align: center;
  background: red url('https://images.theconversation.com/files/537863/original/file-20230717-230575-4lcw35.jpg?ixlib=rb-1.1.0&rect=157%2C431%2C2434%2C1432&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip');
  background-clip: text;
  -webkit-background-clip: text;

}

.para{
  font-style:normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-variant: inherit;
  font-stretch:condensed;
  font-size: 20px;
  padding-right:25px;
  padding-left:10px;
  margin-bottom: 50px;
  margin-left: 170px;
}

#root > div > div.Intropara > p > div > img{
  border-radius: 60px;
  padding-right: 20px;
}
.card-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
}

.card {
  width: 210px;
  height: 270px;
  display: flex;
  background: linear-gradient(138deg, rgb(32, 201, 255) 36.7%, rgb(0, 8, 187) 84.4%, rgb(255, 255, 255) 119.7%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  border-radius: 15%;
 margin-bottom: 70px;
 filter: drop-shadow(7px 9px 10px blue);

}



.plane-img {
  width: 90%;
  height:auto;
display: block;
border-radius: 10%;
}
.mid{
  margin-top: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}










